p,
ul {
  border: 2px solid rebeccapurple;
  padding: 0.2em;
}

.block,
li {
  border: 2px solid blue;
  padding: 0.5em;
}

ul {
  display: block;
  list-style: none;
}

.block {
  display: block;
}
/*Standard CSS Box */
.box {
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}

/* Use Padding and border in width and height 
In below example : content area would be 350 - left(25+5) - right(25+5)
290*90 : Check out the dev tools
*/

.box-sizing {
  box-sizing: border-box;
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}

/*Margin collapsing*/
.upper-div {
  border: 2px solid red;
  margin-bottom: 10px;
}

.lower-div {
  border: 2px solid red;
  margin-top: 50px;
}

/* Inline block */
.inline-block-example {
  margin: 20px;
  padding: 20px;
  width: 80px;
  height: 50px;
  background-color: lightblue;
  border: 2px solid blue;
  display: inline-block;
}

.block-example {
  margin: 20px;
  padding: 20px;
  width: 80px;
  height: 50px;
  background-color: lightblue;
  border: 2px solid blue;
  display: block;
}

.flex-example {
  margin: 20px;
  padding: 20px;
  width: 80px;
  height: 50px;
  background-color: lightblue;
  border: 2px solid blue;
  display: flex;
}

/* Display Types 
  
  .inline {
    width: no effect
    height: no effect 
    padding: apply 
    margin: apply
    new line : No New Line
    pushed other elements horizontally not vertically
  }
  
   .inline-block {
    width: Respected
    height: Respected 
    padding: apply 
    margin: apply
    new line : No New Line
    pushed other elements horizontally not vertically
  }

  .block {
        width: respected
        height: respected
        always start in new Line
    }

  */
